* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.container {
  width: min(100% - 40px, 1340px);
  margin-inline: auto;
  margin-top: 120px;
}

.bg-image {
  background-image: url(../../img/Vp9WvV7YKdH4k8sKRePcE8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(180, 177, 177);
  opacity: 0.7;
}

span {
  padding: 0px 6px;
  margin: 0px 21px;
}

.a {
  text-decoration: none;
}

img {
  width: 300px;
  height: 150px;
}

.inline-pic {
  width: 170px;
  height: 100px;
}

.img,
.img4 {
  float: right;
}

.img2,
.img5 {
  float: left;
}

.img3 {
  clear: left;
}

.size {
  background-color: aqua;
  height: 150px;
  overflow: scroll;
  border: 2px solid black;
}

.static,
.sticky {
  display: flex;
  position: static;
  height: 50px;
  background-color: bisque;
  font-size: 24px;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.absolut-pic {
  position: absolute;
  width: 700px;
  height: 350px;
  opacity: 0.5;
  z-index: -1;
  top: 150px;
  right: 150px;
  bottom: 150px;
  left: 150px;
}

.nav {
  background-color: #9da1a8;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  box-shadow: 3px 4px 32px rgb(255, 255, 255);
  height: 83px;
  padding: 5px 15px;
  margin: 0px 2px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  text-transform: uppercase;
}

.navbutton {
  padding: 13px 20px;
  margin: -5px 12px;
  box-shadow: 3px 4px 32px rgb(59 57 57);
  border: 0.5px solid rgb(135 121 121);
  border-radius: 10px;
  transition: 0.25s;
}

.navbutton:hover {
  background-color: rgb(97, 97, 98);
  font-weight: bolder;
  box-shadow: 3px 4px 32px rgb(172, 168, 168);
  font-size: 20px;
  transform: scale(1.2) translateY(-5px);
}

.navbutton:active {
  color: black;
}

.sticky {
  position: sticky;
}
